.home {
	min-height: 100vh;
}

.home .container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0 !important;
}

.headerHome {
	background: rgb(36, 36, 36);
	background: url("./../../image/background_header.jpg");
	background-position: 0 20%;
	
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		180deg,
		rgb(6, 6, 6) 0%,
		rgba(19, 19, 19, 0.7) 3%
	);
	position: absolute;
}

.home .container h2 {
	font-family: "Playfair Display", serif;
}

.title {
	font-size: 4em;
	line-height: 0.8em;
	color: #363537;
}

@media (max-width: 900px) {
	.title {
		font-size: 2em;
		padding: 15px 0;
	}

	.home .container {
		padding: 0% 10%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.headerHome {
		background-size: 200%;
		background-position: -170px;
	}

	.headerHome h2 {
		width: 70%;
	}
}